@model SmartDelivery.Data.Entities.Category

@{ ViewData["Title"] = "Delete category";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<br />
<br />

<form method="post" asp-action="Delete">
    <div class="form-group row col-12 p-0 d-flex justify-content-center m-0 font-weight-bold text-info">
        <div class="col-2">
            <label asp-for="Title" class="col-form-label font-weight-bold text-info">Category name: </label>
        </div>
        <div class="col-5">
            <input asp-for="Title" disabled class="form-control" />
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="col-5 mt-3 offset-2">
            <div class="row">
                @if (@Model.ParentId is null)
                {
                    <div class="col-6">
                        <input type="submit" class="btn btn-danger form-control" asp-route-id="@Model.Id" value="Delete" />
                    </div>
                    <div class="col-6">
                        <a asp-action="Index" class="btn btn-secondary form-control">Back to list</a>
                    </div>
                }
                else
                {
                    <div class="col-6">
                        <input type="submit" class="btn btn-danger form-control" asp-route-id="@Model.Id" value="Delete" />
                    </div>
                    <div class="col-6">
                        <a asp-action="Details" asp-route-id="@Model.ParentId" class="btn btn-secondary form-control">Back</a>
                    </div>
                }
            </div>
        </div>
    </div>
</form>