@model SmartDelivery.Data.Entities.Category

@{ ViewData["Title"] = "Edit category";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<br />
<br />

<form method="post" asp-action="Edit">
    @if (ViewBag.Exist)
    {
        <p class="text-danger text-uppercase font-weight-bolder">category is already exists.</p>}
    <div class="d-flex justify-content-center font-weight-bold text-info">
        <input type="hidden" asp-for="ParentId" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row col-12 p-0 d-flex justify-content-center">
            <div class="col-2">
                <label asp-for="Title" class="col-form-label font-weight-bold text-info">Category name:</label>
            </div>
            <div class="col-5">
                <input asp-for="Title" class="form-control" />
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="col-5 offset-2">
            @if (@Model.ParentId is null)
            {
                <div class="row">
                    <div class="col-6">
                        <input type="submit" class="btn btn-warning form-control" asp-route-id="@Model.Id" value="Update" />
                    </div>
                    <div class="col-6">
                        <a asp-action="Index" class="btn btn-secondary form-control">Back to list</a>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-6">
                        <input type="submit" class="btn btn-warning form-control" asp-route-id="@Model.Id" value="Update" />
                    </div>
                    <div class="col-6">
                        <a asp-action="Details" asp-route-id="@Model.ParentId" class="btn btn-secondary form-control">Back</a>
                    </div>
                </div>
            }
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}