@model IList<SmartDelivery.Data.Entities.Restaurant>

@{
    ViewData["Title"] = "restaurants basket card list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<form method="get">
    <br />
    <br />
    <div class="p-1">
        @if (Model.Count() > 0)
        {
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-md-4">
                    <div class="card mb-2">
                        <img src="~/imgs/restaurant.jpg" alt="restaurant" class="card-img-top" />
                        <div class="card-body">
                            <h3>@item.Name</h3>
                            <span>@item.Address.City</span>
                        </div>
                        <div class="card-footer">
                            <button class="btn-block text-white border-0 rounded" style="background-color:#45CB85;" asp-action="UserShoppingCartsFromRestaurant" asp-route-Id="@item.Id">
                                <span>Check your order</span>
                            </button>
                        </div>
                    </div>
                </div>

            }
        </div>
        }
        else
        {
        <p>No restaurants exist...</p>
        }
    </div>
    <br />
</form>