@model SmartDelivery.Data.Entities.Restaurant
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-success mb-5"> Create restaurant</h2>
<br />

<form method="post" asp-action="Create">
    <div class="font-weight-bold text-info">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row col-12 p-0 d-flex justify-content-center ml-0">
            <div class="col-2">
                <label asp-for="Name" class="col-form-label font-weight-bold text-info">Restaurant name:</label>
            </div>
            <div class="col-5">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger d-flex justify-content-center"></span>
            </div>
        </div>
        <div class="form-group row col-12 p-0 d-flex justify-content-center ml-0">
            <div class="col-2">
                <label asp-for="Nip" class="col-form-label font-weight-bold text-info">Restaurant NIP:</label>
            </div>
            <div class="col-5">
                <input asp-for="Nip" class="form-control" />
                <span asp-validation-for="Nip" class="text-danger d-flex justify-content-center"></span>
            </div>
        </div>
        <div class="form-group row col-12 p-0 d-flex justify-content-center ml-0">
            <div class="col-2">
                <label asp-for="OpenAt" class="col-form-label">Otwarcie:</label>
            </div>
            <div class="col-5">
                <input asp-for="OpenAt" type="time" id="default-picker" class="form-control" placeholder="Select time">
                <span asp-validation-for="OpenAt" class="text-danger d-flex justify-content-center"></span>
            </div>
        </div>

        <div class="form-group row col-12 p-0 d-flex justify-content-center ml-0">
            <div class="col-2">
                <label asp-for="CloseAt" class="col-form-label">Zamknięcie:</label>
            </div>
            <div class="col-5">
                <input asp-for="CloseAt" type="time" id="default-picker" class="form-control" placeholder="Select time">
                <span asp-validation-for="CloseAt" class="text-danger d-flex justify-content-center"></span>
            </div>
        </div>
        <div class="form-group row col-12 p-0 d-flex justify-content-center ml-0">
            <div class="col-2">
                <label asp-for="Address.PhoneNumber" class="col-form-label font-weight-bold text-info">Phone number:</label>
            </div>
            <div class="col-5">
                <input asp-for="Address.PhoneNumber" class="form-control" />
                <span asp-validation-for="Address.PhoneNumber" class="text-danger d-flex justify-content-center"></span>
            </div>
        </div>
        <div class="form-group row col-12 p-0 d-flex justify-content-center ml-0">
            <div class="col-2">
                <label asp-for="Address.Country" class="col-form-label font-weight-bold text-info">Country:</label>
            </div>
            <div class="col-5">
                <input asp-for="Address.Country" class="form-control" />
                <span asp-validation-for="Address.Country" class="text-danger d-flex justify-content-center"></span>
            </div>
        </div>
        <div class="form-group row col-12 p-0 d-flex justify-content-center ml-0">
            <div class="col-2">
                <label asp-for="Address.City" class="col-form-label font-weight-bold text-info">City:</label>
            </div>
            <div class="col-5">
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger d-flex justify-content-center"></span>
            </div>
        </div>
        <div class="form-group row col-12 p-0 d-flex justify-content-center ml-0">
            <div class="col-2">
                <label asp-for="Address.ZipCode" class="col-form-label font-weight-bold text-info">Zip-code:</label>
            </div>
            <div class="col-5">
                <input asp-for="Address.ZipCode" class="form-control" />
                <span asp-validation-for="Address.ZipCode" class="text-danger d-flex justify-content-center"></span>
            </div>
        </div>
        <div class="form-group row col-12 p-0 d-flex justify-content-center ml-0">
            <div class="col-2">
                <label asp-for="Address.Street" class="col-form-label font-weight-bold text-info">Street:</label>
            </div>
            <div class="col-5">
                <input asp-for="Address.Street" class="form-control" />
                <span asp-validation-for="Address.Street" class="text-danger d-flex justify-content-center"></span>
            </div>
        </div>
        <div class="form-group row col-12 p-0 d-flex justify-content-center ml-0">
            <div class="col-2">
                <label asp-for="Address.HouseNumber" class="col-form-label font-weight-bold text-info">Flat number:</label>
            </div>
            <div class="col-5">
                <input asp-for="Address.HouseNumber" class="form-control" />
                <span asp-validation-for="Address.HouseNumber" class="text-danger d-flex justify-content-center"></span>
            </div>
        </div>
        <div class="form-group row col-12 p-0 d-flex justify-content-center ml-0">
            <div class="col-2">
                <label asp-for="Address.FlatNumber" class="col-form-label font-weight-bold text-info">House number:</label>
            </div>
            <div class="col-5">
                <input asp-for="Address.FlatNumber" class="form-control" />
                <span asp-validation-for="Address.FlatNumber" class="text-danger d-flex justify-content-center"></span>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="col-5 offset-2">
            <div class="row">
                <div class="col-6">
                    <input type="submit" class="btn btn-success form-control" value="Create" />
                </div>
                <div class="col-6">
                    <a asp-action="Index" class="btn btn-secondary form-control">Back</a>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}