@model HomeViewModel

<br />
<br />

<form asp-action="Index" method="get">
    <br />
    <br />
    <partial name="PartialView/_SearchByRestaurantAndByCity" />
    <div class="p-1">
        @if (Model.Restaurants.Count() > 0)
        {
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>
                            Restaurant name
                        </th>
                        <th>
                            City
                        </th>
                        <th>Country</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model.Restaurants)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Address.City)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Address.Country)
                        </td>
         

                        <td style="width:150px">

                            <a class="btn text-white" style="background-color:#45CB85;" asp-action="Meals" asp-route-Id="@item.Id">
                                <i class="fas fa-list-alt"></i>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>No restaurants exist...</p>
        }
    </div>
    <br />
</form>
