@model HomeViewModel

<br />
<br />

<form asp-action="Index" method="get">
    <br />
    <br />
    <partial name="PartialView/_SearchByRestaurantAndByCity" />
    <div class="p-1">
        @if (Model.Restaurants.Count() > 0)
        {
        <div class="row">
            @foreach (var item in Model.Restaurants)
            {

                <div class="col-md-4">
                    <div class="card mb-2">
                        <img src="~/imgs/restaurant.jpg" alt="restaurant" class="card-img-top" />
                        <div class="card-body">
                            <h3>@item.Name</h3>
                            <span>@item.City</span>
                        </div>
                        <div class="card-footer">
                            <button class="btn-block text-white border-0 rounded" style="background-color:#45CB85;" asp-action="Meals" asp-route-Id="@item.Id">
                                <span>Check our offer</span>
                            </button>
                        </div>
                    </div>
                </div>

            }
        </div>
            <br />
                <partial name="PartialView/_Pagination" model="@Model.PagingInfo" />
        }
        else
        {
            <p>No restaurants exist...</p>
        }
    </div>
    <br />
</form>
