@model SmartDelivery.WEB.Models.DishViewModel
<br />
<br />


<br />
<br/>

<form method="get">
    <partial name="PartialView/_SearchByCategory" />
    <div class="row" id="menu-wrapper">
        <partial name="PartialView/_ThumbnailDishAreaPartial" model=@Model.Products />
    </div>
    <partial name="PartialView/_Pagination" model="@Model.PagingInfo" />
    <br />
    <div class="col-4 p-0">
        <a asp-action="Index" class="btn btn-success form-control">Back to list</a>
    </div> 

</form>
    
