@model SmartDelivery.WEB.Models.DishViewModel
<br />
<br />

<div class="row" id="menu-wrapper">
    <partial name="PartialView/_ThumbnailDishAreaPartial" model=@Model.Products/>
</div>

@section Scripts{
    <script>

        $(() => {
            $(".restaurantInfoModal").click(() => {
                $('#modalRestaurantInfo').modal('show');
            });
        });

        var posts = $('.post');

        (function ($) {

            $("#menu-filters button").click(function () {
                $("#menu-filters button").removeClass('active btn btn-secondary');
                $(this).addClass('active btn btn-secondary');

                var selectedFilter = $(this).data("filter");

                $(".menu-restaurant").fadeOut();

                setTimeout(function () {
                    $(selectedFilter).slideDown();
                }, 300);
            });

        })(jQuery);

    </script>
}