<div class="row p-0 col-12 m-0 container d-flex justify-content-center mt-2 mb-1">
    <div class="col-12 text-right p-0">
        <a asp-action="Create" class="btn col-3 m-0" style="background-color: #5B5F97; color: white;"><i class="fas fa-plus"></i> &nbsp; Add new</a>
    </div>
</div>