@model int

<div class="row">
    <div class="col-6">
        <a asp-action="Edit" asp-route-id="@Model" class="btn btn-warning form-control">Edit</a>
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-secondary form-control">Back to list</a>
    </div>
</div>