@model SmartDelivery.Infrastructure.Common.Pagination.PagingInfo

<div page-model="@Model" page-classes-enabled="true" page-class="btn border"
     page-class-normal="btn btn-secondary" page-class-selected="btn btn-info active"
     class="btn-group float-right "></div>
<br />