<div class="row container">
    <div class="col-11">
        <div class="row" style="padding-top:10px">
            <div class="col-11">
                @Html.Editor("searchByEmail", new { htmlAttributes = new { @class = "form-control", @placeholder = "Search by email..." } })
            </div>
        </div>
    </div>
    <div class="col-1">
        <div class="row" style="padding-top:10px;">
            <button type="submit" name="submit" value="Search" class="btn btn-info form-control">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</div>
<br />
<br />